i{
    color: gold;
}
.book{
    width:350px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.img{
  width:150px;
  height: 180px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0 rgb(182, 170, 170)
  
}
.img:hover{
    transform: scale(1.1);
}
.book button{
    background-color: #901146;
    color: #fff;
    width:100px;
    font: inherit;
    padding:5px;
    display: block;
    outline: none;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #be6e90;
    margin:.2rem auto;
    cursor: pointer;
}
.book button:hover{
    transform: scale(1.2);
}
.info{
    margin-top: 2rem;
    padding: 1rem;
}
.info h3,h4{
    color:rgb(5, 1, 1);
}
.info h5{
    color: #24a80a;
    font-size: 2rem;
}